.B-AUX {
  display: inline-block;
  border-bottom: 3px solid #0074D9;
}

.I-AUX {
  display: inline-block;
  border-bottom: 3px solid #7FDBFF;
}

.B-LOC {
  display: inline-block;
  border-bottom: 3px solid #2ECC40;
}

.I-LOC {
  display: inline-block;
  border-bottom: 3px solid #01FF70 ;
}

.B-DATE {
  display: inline-block;
  border-bottom: 3px solid #FF851B;
}

.I-DATE {
  display: inline-block;
  border-bottom: 3px solid #FFDC00;
}

.B-PER {
  display: inline-block;
  border-bottom: 3px solid #B10DC9;
}

.I-PER {
  display: inline-block;
  border-bottom: 3px solid #F012BE;
}
