<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pseudonymization Test</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

{% include "nav.html" %}

<!-- Form -->
<div class="container">

<form action="" method="post" class="form-horizontal" id="text-form">
    <div class="form-group">
      <textarea name="query" class="form-control" rows="5">
        Représenté par Me Florian DELISLE , avocat au barreau de LYON

        Assisté de Me Pierre BESNARD, avocat au barreau de ROUEN

        INTIMÉES

        SARL MOS AMBULANCE

        ayant son siège social 99 rue Brice Arsenault BP 53333

        69008 LYON

        Représentée par Me Gérôme COURTET, avocat au barreau de DOUAI

        Assistée de Me Léonard HENNEQUIN, avocat au barreau de REIMS, substitué par Me COULOMB, associé
      </textarea>
    </div>
    <div class="form-group d-flex flex-row-reverse">
      <button class="btn btn-primary" type="submit" id="submit">Pseudonymize!</button>
    </div>
</form>

<!-- Result -->
<div class="row">
  <div id="pseudonymized_txt" class="col col-md-6"></div>

  <div id="tagged_txt" class="col col-md-6"></div>
</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}" charset="utf-8"></script>
</body>
</html>
